/**通配符**/
*{
    margin: 0;
    padding: 0;
}

#container
{
    width: 100%;
    height: 3000px;
    background: url("../images/bg.jpg") no-repeat;
border:    1px solid red;
}
#header
{
    width: 100%;
    height: 84px;
    background: rgba(0,0,0,0.8);
}
#header:hover .sub-nav
{
    visibility: visible;
}
#header .header-inner
{
    width: 1200px;
    height: 84px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

#header .header-inner .logo
{
    width: 180px;
    height: 84px;
    float: left;
    /*border: 1px solid red;*/
}
#header .header-inner .logo img
{
    margin-top: 15px;
    width: 100%;
}
#header .header-inner .nav
{
    width: 800px;
    height: 84px;
    float: left;
    /*border: 1px solid red;*/
}
#header .header-inner .nav ul li
{
    list-style: none;
    width: 110px;
    height: 84px;
    float: left;
    text-align: center;
    color: #c9c9dd;
    padding-top: 20px;
    /*border: 1px solid magenta;*/

}
#header .header-inner .nav ul li:hover
{
    background: url("../images/index.png") no-repeat 0 0;
}
#header .header-inner .nav ul li a
{
    color: #c9c9dd;
    font-size: 18px;
    text-decoration: none;
}
#header .header-inner .nav ul li em
{
    font-size: 12px;
    color: #858792;
    font-style: normal;
}
#header .header-inner .login
{
    width: 210px;
    height: 64px;
    float: left;
    margin-top: 10px;
    /*border: 1px solid red;*/
}
#header .header-inner .login .login-left
{
    width: 60px;
    height: 60px;
    float: left;
    background: url("../images/index.png") -184px 0;
}
#header .header-inner .login .login-right
{
    width: 145px;
    height: 60px;
    float: left;
    color: #ffffff;
    margin-top: 10px;
    /*border: 1px solid green;*/
}
#header .header-inner .login .login-right h2
{
    font-size: 16px;
}
#header .header-inner .login .login-right p
{
    font-size: 14px;
    color: #858792;
}
#header .sub-nav
{
    width: 100%;
    height: 285px;
    visibility: hidden;
    background: rgba(0,0,0,0.8);
}
#header .sub-nav .sub-nav-inner
{
    width: 1200px;
    height: 280px;
    margin: auto;
    /*border: 1px solid red;*/
}

#header .sub-nav .sub-nav-inner ul
{
    width: 800px;
    height: 280px;
    margin-left: 180px;
    /*border: 1px solid gold;*/
}
#header .sub-nav .sub-nav-inner ul li
{
    list-style: none;
    width: 110px;
    height: 280px;
    float: left;
    text-align: center;
    /*border: 1px solid green;*/
}
#header .sub-nav .sub-nav-inner ul li a
{
    font-size: 14px;
    color: #c9c9dd;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#header .sub-nav .sub-nav-inner ul li a:hover
{
    color: #f3c258;
    text-decoration: underline;

}
.icon-fans-title
{
    width: 100px;
    height: 30px;
    float: left;
    display: block;
    margin-left: -5px;
}
.icon-fans
{
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    margin-left: -10px;
    background: url("../images/index.png") no-repeat
    -137px -68px/*-136px -5px;*/
}
.icon-fanss{
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    margin-left: -10px;
    background: url("../images/index.png") no-repeat
    -136px -5px
}

/*=======================main css start==================*/

#main
{
    width: 1200px;
    height: 2000px;
    margin: auto;
    margin-top: 460px;
    /*border: 1px solid green;*/
}
#main .main-top
{
    width: 1200px;
    height: 342px;

    background: url("../images/rotate_bg.png") no-repeat;
}
#main .main-top .left
{
    width: 964px;
    height: 342px;
    float: left;

}
#main .main-top .left .banner-images
{
    width: 604px;
    height: 342px;
    float: left;
    /*background-color: #858792;*/
}
#main .main-top .left .news-list
{
    width: 359px;
    height: 342px;
    float: right;
    background-color: #323235;

}
#main .main-top .left .news-list .top
{
    margin-left: 2px;
    /*border: red 1px solid;*/
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgba(3, 14, 5, 0.7);
}
#main .main-top .left .news-list .top ul li
{
    float: left;
    margin-left: 5px;
    list-style: none;
    height: 45px;
    width: 52px;
    font-size: 14px;
    text-align: center;
    line-height: 45px;
    color: #b8b9c5;
    display:block;
    /*border-bottom: #f3c258 2px solid;*/
}
#main .main-top .left .news-list .top ul li:hover
{
    border-bottom: #f3c258 3px solid;
}
#main .main-top .left .news-list .mid
{
    width: 100%;
    height: 36px;
    /*border: red 1px solid;*/
    margin-top: 12px;
    font-size: 16px;
    color: #f3c258;
    text-align: center;
    line-height: 36px;
    background-color:#414046;
}
#main .main-top .left .news-list .bottom ul li
{
    list-style: none;

}
#main .main-top .left .news-list .bottom ul li a
{

    font-size: 14px;
    color: #b8b9c5;
    display: block;
    height: 22px;
    width:270px ;
    margin-top: 10px;
    margin-left: 15px;
    overflow: hidden;
    position: relative;
    text-decoration: none;

}
#main .main-top .left .news-list .bottom ul li em
{

    position: absolute;
    right: 420px;
    font-size: 14px;
    color:#999;
    margin-top: -18px;
}
#main .main-top .right
{
    width: 236px;
    height: 342px;
    float: right;

}
#main .main-top .left .image-title
{
    margin-top: -4px;
}
#main .main-top .left .image-title ul li
{
    list-style: none;
    width: 120.8px;
    height: 45px;
    line-height: 45px;
    float: left;
    font-size: 14px;
    text-align: center;
    color: #b1b2be;
}
#main .main-top .left .image-title ul li:hover
{
    background: rgba(255,255,255,0.15);
    color: #f3c258;

}
#main .main-top .right .right_1
{
    width: 236px;
    height: 128px;

    background: url("../images/index.png") no-repeat 0 -220px;
}
#main .main-top .right .right_2
{
    width: 236px;
    height: 106px;

    background: url("../images/index.png") no-repeat 0 -350px;
}
#main .main-top .right .right_3
{
    width: 236px;
    height: 108px;

    background: url("../images/index.png") no-repeat 0 -461px;
}

#main .main-adv
{
    margin-top: 25px;
    width: 1200px;
    height: 134px;
    text-align: center;

}
#main .main-adv img
{
    margin-left: 3px;
}

#main .main-adv img:hover
{
    transform: scale(1.1);
}
.conten-hor{
    width: 100%;
    height:528px ;
    /*border: 1px solid red;*/
    margin-top: 10px;

}
.conten-hor .content{
    margin-left: 0px;
    height:528px ;
    width: 872px;
    /*border: 1px solid red;*/
}
.conten-hor .content .con-title .item_title
{
    background-image: url("../images/index.png");
    width: 130px;
    height: 26px;
    background-position: 0 -106px;
    padding-left: 23px;
}
.conten-hor .content .con-title .more_btn
{
    float: right;
    position: relative;
    top: -20px;
    text-decoration: none;
    background: url(//game.gtimg.cn/images/yxzj/web201706/images/comm/index.png)no-repeat -252px 4px;
    padding-left: 15px;
    color: #b8b9c5;
}
.conten-hor .content .con-sub{
    height: 35px;
    width: 100%;
    /*border: red 1px solid;*/
    margin-top: 8px;
    background-color:#e5e5e5;

}
.conten-hor .content .adv-title{
    height: 35px;
    width: 100%;
    margin-top: 15px;
}
.conten-hor .content .adv-title ul li
{
    float: left;
    line-height: 30px;
    display: block;
    list-style: none;
    border-radius: 10px;
    background-color:#e5e5e5;
    height: 30px;
    width: 108px;
    font-size: 14px;
    text-align: center;
}
.conten-hor .content .adv-title ul li:hover{
    background-color: #f3c258;
    border-bottom: #f3c258;
}
.conten-hor .content .adv
{
    height: 320px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.conten-hor .content .adv ul li
{
    list-style: none;
    width: 216px;
    height: 200px;
    /*border: 1px red solid;*/
    float: left;
}
.conten-hor .content .adv img
{
    height: 125px;
    width: 209px;
    margin-left: 2px;
}
.conten-hor .content .adv span
{
    height: 107px;
    width: 209px;
    font-size: 14px;
    color: #363636;
}
.conten-hor .content .con-sub ul li
{
    float: left;
    list-style: none;
    display: block;
    width:289px ;
    text-align: center;
    line-height: 35px;
    /*border-bottom: #b8b9c5 1px solid;*/
}
.conten-hor .content .con-sub ul li:hover
{
    border-bottom: 3px solid #f3c258;
}
.hor{
    height:528px ;
    width: 295px;
    float: right;
    margin-top: -528px;
    margin-right: 0px;
    /*border: 1px solid red;*/
}
.hor .item_title
{
    width: 100%;
    height: 30px;

    /*border: red 1px solid;*/
}
.hor .item_title .left
{
    height: 30px;
    width: 100px;
    /*border: red 1px solid;*/
    font-size: 14px;
    line-height: 35px;
    background: url(//game.gtimg.cn/images/yxzj/web201706/images/comm/index.png) no-repeat 0 -144px;
    padding-left: 20px;
}
.hor .item_title .right
{
    height: 30px;
    width: 100px;
    position: absolute;
    right: 104px;
    /*border: red 1px solid;*/
    top: 1060px;
    line-height: 30px;
    background: url(//game.gtimg.cn/images/yxzj/web201706/images/comm/index.png)no-repeat -252px 4px;
    padding-left: 20px;

}
.hor .item_title .right a
{
    text-decoration: none;
    font-size: 15px;
    color: #b8b9c5;
}
.hor .sub_head
{
    height: 30px;
    width: 100%;
    /*border: 1px solid red;*/
    margin-top: 10px;
    background-color:#e5e5e5;
}
.hor .sub_head ul li
{
    float: left;
    text-align: center;
    list-style: none;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 98px;
    /*border: 1px solid red;*/
}
.hor .sub_head ul li:hover
{
    border-bottom: 3px solid #f3c258;
}
.hor .nav_top
{
    border: #b8b9c5 1px solid;
    margin-top: 5px;
    height: 225px;
}
.hor .nav_down
{
    margin-top: 10px;
}
.hor .nav_down ul li
{
    list-style: none;
    float: left;
    margin-left: 5px;
}
.con-title{

}
.competition
{
    height: 908px;
    width: 100%;
    /*border: red 1px solid;*/
    margin-top: 20px;

}
.competition .competition_left
{
    /*border: red 1px solid;*/
    height: 908px;
    width: 872px;
    float: left;
}
.competition .competition_left .competition_left_title
{
    height: 38px;
    width: 100%;
    /*border: red 1px solid;*/
    line-height: 30px;
}
.competition .competition_left .competition_left_title .left
{
    background: url(//game.gtimg.cn/images/yxzj/web201706/images/comm/index.png) no-repeat 0 -184px;
    padding-left: 30px;
}
.competition .competition_left .competition_left_title .right
{
    background: url(//game.gtimg.cn/images/yxzj/web201706/images/comm/index.png)no-repeat -252px 4px;
    float: right;
    padding-left: 20px;
    margin-top: -25px;
}
.competition .competition_left .sub_title
{
    margin-top: 5px;
}
.competition .competition_left .sub_title ul li
{

    display:block;
    height: 30px;
    width: 109px;
    /*border: red 1px solid;*/
    float: left;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    background-color: #c9c7c9;
    color: #999;
}
.competition .competition_left .sub_title ul li:hover
{
    border-bottom: 3px solid #f3c258;
    color: #363636;
}
.competition .competition_left .content_top
{
    margin-top: 66px;
    /*border: black 1px solid;*/
    height: 280px;
    width: 100%;

}
.competition .competition_left .content_top .con_img
{
    width:220px;
    height: 270px;
    /*border: black 1px solid;*/
}

.competition .competition_left .content_top .con
{
    float: right;
    /*border: red 1px solid;*/
    height: 270px;
    width: 600px;
    margin-top: -270px;
    margin-right: 10px;
}
.competition .competition_left .content_top .con .con_title h3
{
    font-size: 20px;
    margin-top: 5px;
}
.competition .competition_left .content_top .con .con_title a
{
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    color: #323235;
    display: block;
    height: 20px;
    width: 400px;
    margin-top: 5px;

}
.competition .competition_left .content_top .con .con_li
{
    /*border: blue 1px solid;*/
    height: 200px;
    width: 100%;
    margin-top: 18px;
}
.competition .competition_left .content_top .con .con_li span
{
    /*border: blue 1px solid;*/
    display: block;
    height: 20px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #a6a7b7;
    font-size: 12px;
}
.competition .competition_left .content_top .con .con_li a
{
    float: left;
    margin-top: -22px;
    margin-left: 80px;
    font-size: 14px;
    text-decoration: none;
    color: #a6a7b7;
}
.competition .competition_left .content_top .con .con_li em
{
    float: right;
    margin-right: 10px;
    font-size: 14px;
    margin-top: -20px;
}
.competition .competition_left .content_top .con .con_li ul li
{
    list-style: none;
    display: block;
    height: 20px;
    margin-top: 10px;

}
.competition .competition_left .content_down
{
    height: 500px;
    width: 100%;
}
.competition .competition_left .content_down ul li
{
    list-style: none;
    float: left;
    /*border: red 1px solid;*/
    display: block;
    margin-left: 2px;
    height: 250px;
    width: 215px;
}
.competition .competition_left .content_down ul li img
{
    height:150px ;
    width: 209px;
    margin-top: 20px;
}
.competition .competition_left .content_down ul li span
{
    font-size: 14px;
}
.competition .competition_right
{
    /*border: red 1px solid;*/
    height: 528px;
    width: 300px;
   float: right;
}
.competition .competition_right .competition_right_title
{
    /*border: red 1px solid;*/
    height: 35px;
    width: 100%;
}
.competition .competition_right .competition_right_title .competition_right_title_left
{
    background: url(//game.gtimg.cn/images/yxzj/web201706/images/comm/index.png) no-repeat -157px -106px;
    height: 30px;
    width: 100px;
    float: left;
    /*border: red 1px solid;*/
    padding-left: 28px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 2px;
}
.competition .competition_right .competition_right_title .competition_right_title_mid
{

    height: 22px;
    width: 70px;
    background: url(//game.gtimg.cn/images/yxzj/web201706/images/comm/index.png)no-repeat -243px -85px;
    position: relative;
    right: -140px;
    top:5px;
    border: 1px solid #f3c258;
    border-radius: 3px
}
.competition .competition_right .competition_right_title .competition_right_title_mid a
{
    text-decoration: none;
    font-size: 14px;
    color: #a8a9b5;
    position: relative;
    top: -35px;
    left: 30px;
}
.competition .competition_right .competition_right_title .competition_right_title_right
{
    padding-left: 22px;
    background: url(//game.gtimg.cn/images/yxzj/web201706/images/comm/index.png)no-repeat -252px 4px;
    color: #999;
    /*border: red 1px solid;*/
    height: 30px;
    width: 40px;
    float: right;
    margin-top: -20px;
}
.competition .competition_right .sub_title
{
    height: 115px;
    width: 100%;
    border-bottom: #b4b4b4 1px solid;
}
.competition .competition_right .sub_title table
{
    /*border: red 1px solid;*/
    height: 100px;
    width: 100%;
}
.tail
{
    height: 300px;
    width: 80%;
    margin: 150px auto auto;
    /*border: red 1px solid;*/
}
.tail .tail_header
{
    height: 64px;
    /*border: red 1px solid;*/
    width: 100%;
    background: url(//game.gtimg.cn/images/yxzj/web201605/main/spr.png) no-repeat;
    margin-top: 20px;

}
.tail hr
{
    margin-top: 20px;
}
.tail .tail_con
{
    height: 200px;
    width: 100%;
    /*border: red 1px solid;*/
    margin-top: 20px;
}
.tail .tail_con ul li
{
    display: block;
    /*border: red 1px solid;*/
    list-style: none;
    float: left;
    width: 49%;
    font-size: 12px;
    padding-left: 10px;
    color: #8f909a;
    line-height: 20px;
}
.tail .tail_con ul li em
{
    font-size: 14px;
    color: #1a1a1a;
}