*{
    margin: 0;
    padding: 0;
}
.cont{
    height: 400px;
    width: 800px;
    margin: 0px auto;
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100% 100%;

}
.top{
    height: 30px;
    background: #ff0000;
    text-align: left;
}
.top ul li:first-child{
    width: 250px;
}
.bottom{
    width: 210px;
    text-align: left;
    margin-left: 10px;
}
.top ul li{
    text-align: center;
    width: 130px;
    list-style-type: none;
    float: left;
    line-height: 30px;
}
.bottom ul li{
    text-align: center;
    height: 40px;
    list-style-image: url(../images/list1.png);
    list-style-position: inside;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px dashed red;
}
.bottom ul li:hover{
    list-style-image: url(../images/list2.png);
    background: rgba(255,255,255,0.5);
}
